<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U2C3 Mock</title>
    <style>
      #report{
        width:70%;
        display:grid;
        grid-template-columns:repeat(4,170px);
        justify-content: space-around;
        gap:20px;
        margin:auto;
    
      }
      #report > div{
        margin-top:30px;
        padding-left:20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      #but{
        margin-bottom:15px;
      }
    </style>
  </head>
  <body>
    <form>
      <select id="month">
        <option value="January">JANUARY</option>
        <option value="February">FEB</option>
        <option value="MARCH">MARCH</option>
        <option value="APRIL">APRIL</option>
        <option value="MAY">MAY</option>
        <option value="JUNE">JUNE</option>
        <option value="JULY">JULY</option>
        <option value="AUGUST">AUGUST</option>
        <option value="SEPETEMBER">SEPETEMBER</option>
        <option value="OCTOBER">OCTOBER</option>
        <option value="NOVEMBER">NOVEMBER</option>
        <option value="DECEMBER">DECEMBER</option>
      </select>

      <input id="income" type="number" placeholder="Enter Income" />

      <input id="expense" type="number" placeholder="Enter expense" />

      <input type="submit" />
    </form>

    <div id="report">
          <!-- Append your cards here -->
  
    </div>
  </body>
</html>

<script>

document.querySelector("form").addEventListener("submit",myFunc);




function myFunc(event){
event.preventDefault();
let month=document.querySelector("#month").value;
let income=document.querySelector("#income").value;
let expense=document.querySelector("#expense").value;



let div1=document.createElement("div");
div1.setAttribute("id","div1");
let head=document.createElement("h1");
head.innerText=month;

let p1=document.createElement("p");
p1.innerText=income;

let p2=document.createElement("p");
p2.innerText=expense;

let p3=document.createElement("p");
if(+income < +expense){
  p3.innerText="Save";
  p3.style.color="green";
}
else if(+income > +expense){
  p3.innerText="Debt";
  p3.style.color="red";
}
else{
  p3.innerText="BREAKEVEN";
  p3.style.color="orange";
}

let btn=document.createElement("button");
btn.setAttribute("id","but")
btn.innerText="DELETE";

btn.addEventListener("click",del);

function del(event){
  event.target.parentNode.remove();
}

div1.append(head,p1,p2,p3,btn);
document.querySelector("#report").append(div1);

}

</script>
